body {
  padding-top: 30px;
  /*padding-bottom: 40px;*/
  background-color: #eee;
}

.form-auth {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.form-auth .form-auth-heading,
.form-auth .checkbox {
  margin-bottom: 10px;
}
.form-auth .checkbox {
  font-weight: normal;
}
.form-auth .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-auth .form-control:focus {
  z-index: 2;
}

.error {
	color: crimson;
	padding-top: 10px;
}

.hidden {
	display: none!important;
}

.notice {
	margin-left: 5px;
}

.auth-email {
	padding-top: 20px;
	text-align: center;
}

.auth-bigger {
	font-size: 20px;
	font-weight: 500;
}

br.high {
	line-height: 40px;
}

h4.auth-description {
	line-height: 150%;
}

.auth-email {
	font-size: 13pt;
}

.auth-publisher {
	font-size: 12pt;
	color: #666666;
	margin-top: 10px;
	margin-bottom: 10px;
}

ul.scope-list {
	margin-top: 10px;
	margin-bottom: 0px;
}
