# PHP errors - may or may not be generated based on php configuration
error_log

# web config file - make your own based on config.default.php
config.php

# cron log
cron_log

# other files that shouldn't be added to vc

phpinfo.php
privacypolicy/*
terms/*
